@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SoccerLeague';
  font-style: normal;
  font-weight: 800;
  src: local(''), url('../public/fonts/SoccerLeagueCollege.ttf') format('ttf');
}
